{% extends "base.html" %}
{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}


{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Weight log' %}">
    <meta property="og:description" content="{% trans 'Weight log' %} / {{ workout }} / {{ owner_user.username }}">
{% endblock %}

{#             #}
{# Breadcrumbs #}
{#             #}
{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb workout workout %}
    {% breadcrumb "Weight log" "manager:log:log" workout.pk %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{% trans "Weight log for workout" %}{% endblock %}


{#        #}
{# Header #}
{#        #}
{% block header %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    {% include "workout/log_charts.html" %}
{% endblock %}


{#          #}
{# Side bar #}
{#          #}
{% block sidebar %}
<h4>{% trans "Notes" %}</h4>
<p>{% blocktrans %}This page shows the weight logs belonging to this workout
only. Click on an exercise to see all the historical data for
it.{% endblocktrans %}</p>

<p>{% blocktrans %}If on a single day there is more than one entry with the
same number of repetitions, but different weights, only the entry with the
higher weight is shown in the diagram.{% endblocktrans %}</p>

<p>{% blocktrans %}Note that only entries with a weight unit (kg or lb) and
repetitions are charted, other combinations such as time or until failure
are ignored here.{% endblocktrans %}</p>
{% endblock %}
