{% load i18n staticfiles wger_extras django_bootstrap_breadcrumbs %}
{% if workout.comment %}


<p>
    <strong>{% trans "Goal" %}:</strong> {{workout.comment}}
</p>
{% endif %}

{% for day in workout.canonical_representation.day_list %}
    <h4>{{ day.obj.description }}</h4>

    {% block add_weight_log %}
    {% if is_owner %}
    <p>
        <a href="{% url 'manager:day:log' day.obj.id %}" class="btn btn-success btn-sm">
            {% trans 'Add weight log to this day' %}
        </a>
    </p>
    {% endif %}
    {% endblock %}

    {% for set in day.set_list %}
    {% for exercise in set.exercise_list %}

        {% with day_list=workout_log|get_item:day.obj.id %}
        {% with exercise_list=day_list|get_item:exercise.obj.id %}


            <div class="row log-div" style="padding-top: 1em;">
                <div class="col-xs-12">
                    <strong><a href="{{ exercise.obj.get_absolute_url }}">{{ exercise.obj.name }}</a></strong>
                </div>
                <div class="col-xs-12">
                    {% if exercise_list.log_by_date %}
                        {#  TODO: perhaps move the draw_weight_chart function to render_weight_log #}
                        {% with list=exercise_list.log_by_date %}
                            {% render_weight_log list exercise_list.div_uuid owner_user %}
                            <script>
                            $(document).ready(function() {
                            wgerDrawWeightLogChart({{exercise_list.chart_data|safe}},
                                                  "{{exercise_list.div_uuid}}");
                            });
                            </script>
                        {% endwith %}


                    {% else %}
                        <p><em>{% trans "No weight entries here." %}</em></p>
                    {% endif %}
                </div>
            </div>

        {% endwith %}
        {% endwith %}

    {% empty%}
    <p>
        <em>{% trans "No exercises for this day." %}</em>
    </p>
    {% endfor %}
    {% endfor %}
{% endfor %}
