{% extends "group/view.html" %}
{% load i18n staticfiles wger_extras thumbnail django_bootstrap_breadcrumbs activity_tags %}

{#             #}
{# Breadcrumbs #}
{#             #}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Compare" "" %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %} {{ object }} ({% trans "Compare workouts" %}) {% endblock %}

{#         #}
{# Content #}
{#         #}
{% block content %}
<h4>{% trans "Workouts" %}</h4>
    <div class="list-group">
        {% for workout in object.workout_set.all %}
            <div class="list-group-item">
                <a href="{{ workout.get_absolute_url }}">
                    {{ workout }}
                     {% if workout.user == user%}
                         <span class="label label-success">{% trans "Owner" %}
                         </span>
                        {% endif %}
                </a>
                <br>

                <!-- Workout Log -->

                {% for day in workout.canonical_representation.day_list %}
                <h4>{{ day.obj.description }}</h4>

                {% for set in day.set_list %}

                {% for exercise in set.exercise_list %}
                    Exercise: {{ exercise }}


                {% empty%}
                <p>
                    <em>{% trans "No exercises for this day." %}</em>
                </p>
                {% endfor %}
                {% endfor %}
            {% endfor %}
            <!-- End Workout Log -->
                <div>Workout content</div>

            </div>
        {% empty %}
            <div class="list-group-item">{% trans "Nothing found" %}</div>
        {% endfor %}
    </div>

{% endblock %}
{# End block Content #}



{#         #}
{# Sidebar #}
{#         #}
{% block workouts_list %}{% endblock %}
