{% extends "group/view.html" %}
{% load i18n staticfiles wger_extras thumbnail django_bootstrap_breadcrumbs activity_tags %}

{#             #}
{# Breadcrumbs #}
{#             #}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Compare" "" %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %} {{ object }} ({% trans "Compare workouts" %}) {% endblock %}

{% block header %}
<script src="{% static 'js/groups.js' %}"></script>
{% endblock %}

{#         #}
{# Content #}
{#         #}
{% block content %}
<h4>{% trans "Workouts" %}</h4>
    <div class="list-group">
        {% for workout in object.workout_set.all %}
            <div class="list-group-item">
                <a href="{{ workout.get_absolute_url }}">
                    {{ workout }}
                     {% if workout.user == user%}
                         <span class="label label-success">{% trans "Owner" %}
                         </span>
                        {% endif %}
                </a>
                <br>
                <!-- Workout Log -->
                <a href="{{ workout.get_log_url }}">
                    {% trans "Log" %}
                </a>
                <div class="workout-log" data-url="{{ workout.get_log_url }}">

                </div>
            <!-- End Workout Log -->
                <div>Workout content</div>

            </div>
        {% empty %}
            <div class="list-group-item">{% trans "Nothing found" %}</div>
        {% endfor %}
    </div>

{% endblock %}
{# End block Content #}



{#         #}
{# Sidebar #}
{#         #}
{% block workouts_list %}{% endblock %}
