{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}


<!--
        Title
-->

{% block title %}{% trans "Edit set" %}{% endblock %}

<!--
        Main Content
-->
{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">

    {% csrf_token %}
    <div class="form-group">
        <div class="col-md-12">
        {% for formset in formsets %}
            <label class="col-md-3 control-label">
                {% trans "Repetitions" %}
            </label>
            <br>
            {% include 'set/formset.html' with exercise=formset.exercise formset=formset.formset %}
        {% endfor %}
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="{% trans "Save" %}" id="form-save" class="btn btn-primary btn-block">
        </div>
    </div>
</form>
{% endblock %}
