{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

<!--
        Title
-->
{% block title %}{{title}}{% endblock %}


<!--
        Main Content
-->
{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
    <div style="padding: 1%" class="col-md-12 text-center">
        <span class="{% fa_class 'exclamation-triangle' '3x' %} "></span>
    </div>
    <div style="padding: 1%" class="col-md-12 text-center">
        {% trans "Are you sure you want to delete this? This action cannot be undone." %}
        {{ delete_message }}
    </div>
    </div>

    <div class="form-group">    
        <div class="col-md-offset-1 col-md-10">
                 <input type="submit" value="{% trans " Yes, Delete " %}" id="form-save" class="btn btn-danger btn-block">
        </div>
    </div>

    </form>
{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}{{sidebar|safe}}{% endblock %}
